<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js"></script>
  <script src="//cloud.github.com/downloads/emberjs/ember.js/ember-1.0.pre.js"></script>
  <script src="//cloud.github.com/downloads/emberjs/data/ember-data-latest.js"></script>
  <script src="demo.js"></script>

  <script type="text/x-handlebars" data-template-name="application">
    <h1> This is my app!
    {{outlet}}
    <small>by me</small>
  </script>

  <script type="text/x-handlebars" data-template-name="things">
    <ul>
      {{#each Demo.things}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
    Total: {{Demo.things.length}} items
  </script>

  <script type="text/x-handlebars" data-template-name="foos">
    Foo foo foo foo foo
  </script>

</head>
<body>
</body>
</html>
